<h2>Welcome to the admin application</h2>

<script type='text/javascript' src='/jsmvc/steal/steal.js?admin,development'></script>
<!--script type='text/javascript' src='/jsmvc/steal/steal.production.js?admin,production'></script-->


