<!DOCTYPE html>
<html>
  <head>
    <title>grapplenode</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav></nav>
    <section>
      <div id="home" class="nav activenav"></div>
      <div id="search" class="nav"></div>
      <div id="techniques" class="nav"></div>
      <div id="matches" class="nav"></div>
      <div id="instruction" class="nav"></div>
    </section>
    <script type="text/javascript">
      var USER = {username: '', email: ''};
      <% if (everyauth.user){%>
        USER = {username: '<%=everyauth.user.username%>', email: '<%=everyauth.user.email%>'}
      <%}%>
    </script>
    <script type="text/javascript" src="/jsmvc/steal/steal.js?grapplenode"></script>
  </body>
</html>