<!DOCTYPE html>
<html>
  <head>
    <title>grapplenode</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav>
  		<ul>
  			<li class='logo'>Grapplenode</li>
  			<% if (session.user){%>
  				<li><a href='/auth/destroy'>logout</a></li>
	  			<li><%=session.user.username%></li>
  			<%} else {%>
  				<li><a href='/auth/forgetpassword'>Forgot Password?</a></li>
	  			<li><a href="/auth/facebook">Facebook</a> <a href="/auth/google">Google</a></li>
  			<%} %>
  			<li><input type='text' value="Search"/></li>
  		</ul>
    </nav>
    
  	<% if (flash.warn){%>
  		<p><%=flash.warn%></p>
  	<%}%>
  	
    <section>
    	<%- body %>
  	</section>
  
  </body>
</html>