body {
  font: .9em "Lucida Grande", Helvetica, Arial, sans-serif;}

nav, section {
  width: 920px;
  margin: 0 auto;
  overflow: auto;}

nav  ul {
  margin: 10px 0 0 0;}
nav  ul li {
  float: right;
  margin: 0 0 10px 10px;}
nav  ul li.logo {
  float: left;}

h1 {
  font-size: 1.3em;}

a {
  color: #00B7FF;}
