@font-face
  :font-family 'Gabriola'
  :src url('Gabriola.ttf')

@font-face
  :font-family 'Charlemagne'
  :src url('CharlemagneStd-Bold.otf') 
  
html, body
  :font .9em 'Gabriola', sans-serif
  :background-color #000
  :color #FFF
  
header, nav, section
  :width 960px
  :margin 0 auto
  :overflow auto
  
header
  :overflow visible
  ul#headerlinks
    :width 550px
    li
      :float left
      :margin 0 .5em
      :font 1.1em 'Charlemagne', sans-serif
      :height 100%;
      :vertical-align middle;
      :line-height 3em
    li.logo
      :float left
      :background-image url('/images/grapplenode.jpg')
      :text-indent -9000px
      :height 40px
      :width 193px
      :padding 0
  ul#auth
    :margin 10px 0 0 0
    :height 50px
    :float right
    li
      :float right
      :margin 0 5px 10px
      :padding 0 5px
      :background-color #272727
      :position relative
      a
        div#facebook_icon
          :background-image url('/images/login_icon.png')
          :background-position -29px 62px
          :height 14px
          :width 14px
          :display inline-block
          :vertical-align middle
        div#google_icon
          :background-image url('/images/login_icon.png')
          :background-position -77px 62px
          :height 14px
          :width 14px
          :display inline-block
          :vertical-align middle
        &:hover
          div#facebook_icon
            :background-position -29px 40px
          div#google_icon
            :background-position -77px 40px
      ul#auth-types
        :margin 0
        :display none
        :position absolute
        :right 0
        :top 22px
        :background-color #fff
        :color #272727
        :width 265px
        :padding 5px 0
        li
          :float left
          :margin 0
          :background-color #fff
          :color #272727
          button
            :cursor pointer
            :margin 0
            :overflow visible
            :padding 0
            :background none repeat scroll 0 0 transparent
            :border medium none
            div
              :height 25px
              :padding 0 10px 0 0
              :text-align left
              span
                :height 25px
                :padding 0 0 0 34px
                :display block
                :line-height 25px
                :color #fff
          button#facebook_login
            div
              :background url('/images/login_btn.png') no-repeat scroll right -75px transparent
              span
                :background url('/images/login_btn.png') no-repeat scroll 0 -75px transparent
          button#google_login
            div
              :background url('/images/login_btn.png') no-repeat scroll right 0 transparent
              span
                :background url('/images/login_btn.png') no-repeat scroll 0 0 transparent
                :color #272727
      &.active
        :background-color #fff
        :color #272727
        a
          :color #272727
          div#facebook_icon
            :background-position -29px 84px
          div#google_icon
            :background-position -77px 84px
        ul#auth-types
          :display block
nav
  ul  
    :margin 10px 0 
    :height 3em
    :-moz-border-radius 1em 4em 1em 4em
    :-webkit-border-radius 1em 4em 1em 4em
    :border-radius 1em 4em 1em 4em
    :background #ffffff
    :background -moz-linear-gradient(top, #ffffff 2%, #541616 19%, #1c1c1c 100%)
    :background -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffffff), color-stop(19%,#541616), color-stop(100%,#1c1c1c))
    :background -webkit-linear-gradient(top, #ffffff 2%,#541616 19%,#1c1c1c 100%)
    :background -o-linear-gradient(top, #ffffff 2%,#541616 19%,#1c1c1c 100%)
    :background -ms-linear-gradient(top, #ffffff 2%,#541616 19%,#1c1c1c 100%)
    :filter progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1c1c1c',GradientType=0 )
    :background linear-gradient(top, #ffffff 2%,#541616 19%,#1c1c1c 100%)
    li
      :float left

h1
  :font-size 1.3em
  
a
  :color #727272
  :text-decoration none
  :cursor pointer
  &:hover 
    :color #fff
    