<h1>Takedowns</h1>
<div class="takedowns"></div>
<h1>Passes</h1>
<div class="passes"></div>
<h1>Sweeps</h1>
<div class="sweeps"></div>
<h1>Transistions/Control</h1>
<div class="tc"></div>
<h1>Escapes</h1>
<div class="escapes"></div>
<h1>Submissions</h1>
<div class="submissions"></div>