<ul class="page-menu">
  <li class="active"><a alt="featured">featured</a></li>
  <li><a alt="sequences">sequences</a></li>
  <li><a alt="popular">popular</a></li>
</ul>

<div class="techniques-content">

</div>
